.generatePlan {
  padding: 2rem 5%;
  background-color: #f8f9fa;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rightSpacer {
  width: 100%;
  max-width: 400px;
  margin-left: 10px;
}

/* ───── Goal Selector Form ───── */
.goalSelector {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  /* max-height: 35vh; */
  margin-right: 30px;
}
.goalSelector h2 {
  margin-bottom: 1rem;
}

/* .goalSelector button {
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #e4e4e4;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.875rem;
} */

.goal-button-group {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.goal-button {
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.goal-button:hover {
  background-color: #f0f0f0;
}

.goal-button.active {
  background-color: #FF6565;
  color: white;
  border-color: #FF6565;
}


/* ───── Workout Plan ───── */
.workoutPlanContainer {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  max-height: 83vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.workoutPlan {
  flex: 1;
  overflow-y: auto;
  margin-top: 0.75rem;
  padding-right: 1rem;
}

.printButton {
  margin-top: 1rem;
  background: transparent;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.875rem;
}