.trackExercise {
  display: flex;
  align-items: center;
  padding: 2rem 5%;
  background-color: #f8f9fa;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
}

.trackExercise p {
    opacity: 50%;
}